.card {
    border: 5px solid black;
    border-radius: 5px;
    max-width: 20%;
    display: inline-block;
    margin: 10px;
    box-shadow: rgb(46, 46, 46);
}

.card p{
    font-family: 'Courier New', Courier, monospace;
}
.fairy {
    color:pink;
}